<div class="mdl-typography--text-center">

<div class="logo-font android-slogan">be together. not the same.</div>
       <div class="logo-font android-sub-slogan">welcome to swimming... be yourself. do your thing. see what's going on.</div>
</div>
