@import "material";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

a.mdl-navigation__link {
  color: #eee;
  font-weight: 700;
  font-size: 14px;
}
a.mdl-navigation__link:hover {
  color: rgb(255, 87, 34);
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background-position: center center;
  background-size: cover;
  background: {
    image: asset-url("stockphoto.jpg");
  }
}
.readable {
  font-size: 14px;
}

.card {
  margin-top: 5%;
}
