
<h1>
  <strong>Title:</strong>
  <%= @achievement.title %>
</h1>

<h2>
  <% if @achievement.poke_name.present? %>
    Pokemon: <%= @achievement.poke_name.capitalize %>
    <img src=<%= @achievement.picture_url %>>
  <% else %>
    No pokemon
  <% end %>
</h2>
<h1>Completed by</h1>
<div class="col-md-6 col-md-offset-3">
<ul class="mdl-list">
  <% @users.each do |user| %>
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        <i class="material-icons mdl-list__item-icon">person</i>
        <%= link_to user, user %>
      </span>
    </li>
  <% end %>
</ul>
</div>
