
<h1>
  <strong>Title:</strong>
  <%= @achievement.title %>
</h1>

<h2>
  <% if @achievement.poke_name.present? %>
    Pokemon: <%= @achievement.poke_name.capitalize %>
    <img src=<%= @achievement.picture_url %>>
  <% else %>
    No pokemon
  <% end %>
</h2>
